<div class="card">

    <h5 class="card-header">Login</h5>
    <div class="card-body">

        <form>
            <div class="mb-3">

                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="fname" class="form-control" >
                  </div>

                  <div class="mb-3">
                    <label  class="form-label">Last Name</label>
                    <input type="lname" class="form-control" >
                  </div>


              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control"  aria-describedby="emailHelp">
             
            </div>

            <div class="mb-3">
              <label  class="form-label">Password</label>
              <input type="password" class="form-control" >
            </div>
            <div class="mb-3">
                <label  class="form-label"> Confirm Password</label>
                <input type="Cpassword" class="form-control" >
              </div>
            
              <div class="mb-3">
                <label  class="form-label"> Gender</label>
                
               
              </div>
            




            <button type="submit" class="btn btn-primary">Submit</button>
          </form>







    </div>
</div>
